/* @wolfram77 */
/* INDEX - main css file*/

/* full map */
html, body, #map {
	width: 100%;
	height: 100%;
}
#body {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

/* header */
header nav {
	display: block;
	background-color: #8E7;
	font-size: 2em;
}
header a {
	float: right;
	padding-left: 1em;
	padding-right: 1em;
}
header a.img {
	padding-left: 0;
	padding-right: 0;
}
header a:hover, header a:active, header a.active {
	background-color: #AF8;
}

/* logo */
#logo-img {
	color: #2E2;
}
#logo-safe {
	color: #22A;
}
#logo-map {
	color: #A22;
}

/* form */
form {
	padding: 1em;
}
header form {
	background-color: #EFE;
}
